html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto Mono", monospace;
    user-select: none;
}

:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --primary-color: #15aabf;
    --success-color: #40c057;
    --warning-color: #fd7e14;
    --danger-color: #fa5252;
}

.danger {
    background-color: var(--danger-color);
}

.success {
    background-color: var(--success-color);
}

.br-12 {
    border-radius: 12px;
}

.br-8 {
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-moz-selection {
    background: var(--primary-color);
}

::selection {
    background: var(--primary-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
    transition: box-shadow 0.2s ease 0s, transform 0.2s ease 0s;
}

#input-value {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.pincode-input {
	width: 48px;
    height: 44px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
	font-family: 'Roboto Mono', monospace;
    border-radius: 12px;
    border: 2px solid var(--dark-color);
}

.pincode-input:focus {
    outline: none;
}